<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">INTIGRADEHOST</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <!--
            <li class="active">
              <a href="#">My Profile</a>
            </li>
            -->
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">My Profile <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li class="active"><a routerLink="/system/authenticated/user/profile">My Profile</a></li>
                <li class="divider"></li>
                <li><a routerLink="/system/authentication/logout">Sign Out</a></li>
                <!--
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li><a href="#">Separated link</a></li>
                <li class="divider"></li>
                <li><a href="#">One more separated link</a></li>
                -->
              </ul>
            </li>
          </ul>
        </div>
    </div>
  </nav>

<div class="row">
  <div class="card card-nav-tabs">
    <div class="card-header" data-background-color="purple">
      <div class="nav-tabs-navigation">
        <div class="nav-tabs-wrapper">
          <span class="nav-tabs-title">USER INFORMATION:</span>

          <ul class="nav nav-tabs" data-tabs="tabs">

            <li class="active">
              <a href="#biodata" data-toggle="tab">
                <i class="material-icons">account_circle</i>
                BIO DATA
              <div class="ripple-container"></div></a>
            </li>

            <li class="">
              <a href="#messages" data-toggle="tab">
                <i class="material-icons">contacts</i>
                PERSONAL ADDRESS INFORMATION
              <div class="ripple-container"></div></a>
            </li>

            <li class="">
              <a href="#settings" data-toggle="tab">
                <i class="material-icons">group</i>
                REGISTRANT ADDRESS INFORMATION
              <div class="ripple-container"></div></a>
            </li>

          </ul>

        </div>
      </div>
    </div>

    <div class="card-content">
      <div class="tab-content">
        <div class="tab-pane active" id="biodata">

          <table class="table">

            <tr>
              <th>Username:</th>
              <td>{{ person.email }}</td>
            </tr>

            <tr>
              <th>Firstname:</th>
              <td>{{ person.firstname }}</td>
            </tr>

            <tr>
              <th>Lastname:</th>
              <td>{{ person.lastname }}</td>
            </tr>
          </table>

        </div>
        <div class="tab-pane" id="messages">
          Second Tab
        </div>
        <div class="tab-pane" id="settings">
          Third Tab
        </div>
      </div>
    </div>

  </div>
</div>
